.navbar {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #edcbd2;
    padding-top: 26px;
    padding-bottom: 18px;
    overflow: hidden;
} .navbar h1 {
    color: #e3856b;
    font-size: 42px;
} .navbar a {
    padding: 10px 10px;
    font-size: 18px;
    text-decoration: none;
    color: #e3856b;
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} .navbar a:hover {
    /* background-color: #ffffff; */
    color: #80c4b7;
} .navbar h1 {
    display: inline;
    padding-left: 20px;
    padding-bottom: 10px;
    font-family: Palatino, 'Times New Roman', Times, serif;
} .navbar hr {
    border: none;
    background-color: #edcbd2;
}


.intro-bio {
    position: inherit;
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 25px;
} .intro-bio img {
    width: 300px;
    border-radius: 2px;
    border: #edcbd2;
} .intro-bio h1 {
    font-size: large;
} .intro-bio p {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e3856b;
}


.inline-spacing {
    display: inline-block;
    padding: 10px 10px;
}

.gray-container {
    background-color:#ededed;
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: Palatino, 'Times New Roman', Times, serif;
} .gray-container h1 {
    color: #000;
}

.about-me-section {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    border-style: solid;
    border-color: #e3856b;
    /* border-radius: 15%; */
    width: 29%;
    height: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} .about-me-section h2 {
    color: #e3856b;
}
.philosophy-text {
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    font-size: 20px;
    color: #000;
}
.background-entry {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
    float: left;
} .background-entry h4 {
    display: inline;
    font-size: 17px;
    text-decoration: none;
} .background-entry i {
    color: #80c4b7;
} .background-entry p {
    font-size: 18px;
}

.about-me-break {
    display: none;
}


.white-container {
    background-color:#FFF;
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: Palatino, 'Times New Roman', Times, serif;
}

.specialty-button-row {
    margin-left: 16%;
    margin-right: 16%;
} .specialty-button-row button {
    width: 22%;
    height: 50px;
    font-size: 18px;
    border: none;
    padding: none;
    background-color: #e3856b;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} .specialty-button-row p {
    width: 87%;
    border-style: solid;
    border-color: #000;
    margin-left: 5%;
    padding: 10px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.faq-content {
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 1px;
} .faq-content h2 {
    color: #e3856b;
    font-family: Palatino, 'Times New Roman', Times, serif;
} .faq-content li {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} .faq-content li a {
    color: #80c4b7;
    text-decoration: underline;
}


.contact-info {
    margin-left: 18%;
    margin-top: 1.5%;
    display: inline-block;
} .contact-info p {
    display: inline-block;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} .contact-info i {
    display: inline-block;
    color: #80c4b7;
} .contact-info h3 {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e3856b;
}

.contact-address {
    display: inline-block;
    margin-top: 20px;
    margin-left: 100px;
} .contact-address img {
    width: 390px;
}





@media screen and (max-width: 1085px) {
    .contact-wide {
        display: none;
    }
    .contact-address {
        display: block;
        margin-left: 16%;
        height: 20%;
    }
    .contact-info {
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 810px) {
    .about-me-section {
        width: 80%;
    }
    .intro-bio img {
        width: 225px;
    }
    .inline-spacing {
        display: none;
    }
    .about-me-break {
        display: block;
        border: none;
    }
    .specialty-button-row button {
        width: 100%;
        border-style: solid;
    }
    .contact-info {
        margin-right: 16%;
    }
    .contact-address img {
        width: 225px;
    }
}